body {
  font-family: Arial, sans-serif;
  /* background-image: linear-gradient(
      to left top,
      #04b4c4,
      #04b4c4,
      #a8eb12,
      #a8eb12
    ); */
  min-height: 100vh;
  background-size: cover;
}

.container {
  max-width: 400px;
  margin: 200px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#error-message {
  color: red;
  margin-top: 10px;
}
